body{
    font-family: 'Open Sans', sans-serif;
}

#cont-logo{
    display: flex;
    width: auto;
    height: 13rem;
    margin-top: 1rem;
    border: 1px solid #ffffff;
}
#img-logo{
    display: flex;
    width: auto;
    height: 13rem;
    margin: auto;
}
nav{
    display: flex;
    height: 3rem;
    width: 80%;
    margin:auto;
    font-family:'Open Sans', sans-serif;
    font-size: 1.3125rem;
    border: 1px solid #ffffff;
}

#nav-option{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

#nav-option ul{
    list-style: none;
    margin: auto;
    padding: auto;
}

#nav-option ul li{
    display: inline-block;
}
#nav-option ul li a{
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav-option ul li a:hover{
    color: #87B1CB;
}

.Barra{
    color: #87B1CB ;
}

.IS{
    color: #87B1CB ;
    font-size: 1rem;
}

#cont-imagenes{
    position: relative;
    display: flex;
    justify-content: center;
    width: auto;
    height: 35%;
    align-items: center;
}

#Img1{
    width: auto;
    height: auto;
    max-width: 30rem;
    max-height: 30rem;
}

#Fondo1{
    display: flex;
    width: 100%;
    height: 35%;
    margin: auto;
    background:radial-gradient(circle at 70%, #b6b5b5 1%, #6cc8d8,#588fb1);
}

#Fondo1 h2{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;
    line-height: 5rem;

}

#cont-titulo2{
    display: flex;
    width: 100%;
    height: auto;
    font-family:Arial, Helvetica light, sans-serif;        
    font-size: 3.0625rem;
    background-color: #87B1CB;
    color: #ffffff;
    text-align:center;
    margin: auto;
}

#cont-titulo2 p{
    width: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}


#cont-titulo-texto h2{
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 5rem;
    font-weight: lighter;
}

#cont-subtitulo h3 {
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.5rem;
    font-weight:lighter;
    color: black;
}

#cont-subtitulo ul {
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 1.5rem;
    font-weight:lighter;
    color: black;
}

#cont-marketplace{
    width: 100%;
}

#cont-marketplace-filtros{
    display:table-cell;
}

#cont-texto p{
    width: 60%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    font-size: 1rem;
    font-weight:lighter;
}

#footer-option{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

#Pie{
    text-align: center;
    display: flex;
    height: 3rem;
    width: 80%;
    margin:auto;
    font-family:'Open Sans', sans-serif;
    font-size: 1.3125rem;
    border: 1px solid #ffffff;
}

#Icono{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Img{
    width: auto;
    height: auto;
    max-width: 2rem;
    max-height: 2rem;
}