body{
    font-family: 'Open Sans', sans-serif;
}

#cont-logo{
    display: flex;
    width: auto;
    height: 10rem;
    margin-top: 1rem;
    border: 1px solid #000;
}
#img-logo{
    display: flex;
    width: auto;
    height: 9rem;
    margin: auto;
}

#cont-imagenes{
    display: flex;
    width: 100%;
    height: 30rem;
    margin-top: 1rem;
    border: 1px solid #000;
}

.cont-imagen{
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

nav{
    display: flex;
    height: 3rem;
    width: 80%;
    margin:auto;
    font-family:'Open Sans', sans-serif;
    font-size: 1.3125rem;
    border: 1px solid #ffffff;
}

#nav-option{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

#nav-option ul{
    list-style:none;
    margin:auto;
    padding:0;
}

#nav-option ul li{
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#nav-option ul a{
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:1rem;
    padding:10px;
    font-family: Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    transform: translateY(-0.3rem);
}
#nav-option ul li a{
    color: #000;
    display: block;
    padding: 10px;
    text-decoration: none;
}

#nav-option ul li a:hover{
    color: #87B1CB;
}

#nav-option ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgb(255, 250, 250);
    padding:0;
}

#nav-option ul ul li {
    float:none;
    width:150px
}

#nav-option ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#nav-option ul li:hover > ul {
    display: block;
}

.Barra{
    color: #87B1CB ;
}

.IS{
    color: #87B1CB ;
    font-size: 1rem;
    transform: translateY(-0.8rem);
}

footer{
    display: flex;
    height: 4rem;
    width: 100%;
    border: 1px solid #000;
}

#footer-option{
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
}